

<%-include('header')-%>

    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark">Lecturer Management System</a>
                </div>
            </div>
        </nav>
    </header>
    
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/bachelor-degree"><i class="fas fa-angle-double-left"></i>Bachelor Degree List</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Bachelor Degree in Application Development: Courses</h2>
                <span class="text-dark">Here are a list of courses linked to this degree:</span>
                
            </div>
            <!-- form handling-->
            <form method="POST" id="update_student">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Number</th>
                            <th>Courses List</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Programming</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Mobile Application</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Web Development</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Database Design</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Testing</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                              
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>

    <%-include('footer')-%>