<tr>
                        
    <td>Bachelor in Application Development</td>
    <td>3 Years</td>
    <td>4</td>
    <td>
        <a href="/course-list1" class="btn border-shadow update">
            <span class="text-gradient">Course List<i class=""></i></span>
        </a>
    </td>
<!--
    <td>
        <a href="/update-degree" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
-->
</tr>

<tr>
   
    <td>Bachelor in Networking Engineering</td>
    <td>3 Years</td>
    <td>2</td>
    <td>
        <a href="/course-list2" class="btn border-shadow update">
            <span class="text-gradient">Course List<i class=""></i></span>
        </a>
    </td>
<!--  
    <td>
        <a href="/update-degree" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
-->  
</tr>