<tr>
    <td>1</td>
    <td>Grace Buys</td>
    <td>grace123@gmail.com</td>
    <td>04-08-1992</td>
    <td>Bachelor in Application Development</td>
    <td>
        <a href="/update-student" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<tr>
    <td>2</td>
    <td>Chang Woods</td>
    <td>woodss123@gmail.com</td>
    <td>11-05-2000</td>
    <td>Bachelor in Application Development</td>
    <td>
        <a href="/update-student" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<tr>
    <td>3</td>
    <td>Oupa Bantoe</td>
    <td>oupa69@gmail.com</td>
    <td>08-11-1989</td>
    <td>Bachelor in Application Development</td>
    <td>
        <a href="/update-student" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<tr>
    <td>4</td>
    <td>Veronica Maxwell</td>
    <td>maxwell015@gmail.com</td>
    <td>06-12-1994</td>
    <td>Bachelor in Application Development</td>
    <td>
        <a href="/update-student" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<tr>
    <td>5</td>
    <td>Doug Mask</td>
    <td>maskD777@gmail.com</td>
    <td>16-10-2001</td>
    <td>Bachelor in Application Development</td>
    <td>
        <a href="/update-student" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>